<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>diti -Desarrollo e Inovación en Tecnologias de la Información</title>
	<link rel="stylesheet" href="/media/css/normalize.css">
	<link rel="stylesheet" href="/media/css/style.css">
	<script type="text/javascript" src="/media/js/modernizr.js"></script>
</head>
<body>
	<div id="container">
		<header>
			<ul id="toplink">
				<li><a href="#">Mapa del Sitio</a> |</li>
				<li><a href="#">Acceso a Clientes</a> |</li>
				<li><a href="#">Ayuda</a></li>
			</ul>
			<h1><a href="/">Diti - Desarrollo integral en tecnologías de la información</a></h1>
			<form action="/search/" id="searchbox">
				<div>
					<input type="search" name="search" placeholder="Buscar en el sitio">
					<input type="submit" value="Buscar" class="buttonblue">
				</div>
			</form>
			<nav>
				<ul class="graybars">
					<li><a href="/">Inicio</a></li>
					<li><a href="/servicios/">Servicios</a></li>
					<li><a href="/productos/">Productos</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/acerca-de-nosotros/">Acerca de Nosotros</a></li>
					<li><a href="/contacto/">Contacto</a></li>
				</ul>
			</nav>
		</header>
		<section id="maincontent" role="main">
			{% block content %}
			{% endblock %}
		</section>
		<footer class="graybars">
			<section id="sols">
				<h3>Soluciones a Medida</h3>
				<ul>
					<li><a href="/servicios/telefonia-ip/">Telefonía IP</a></li>
					<li><a href="/servicios/soluciones-rfid/">Soluciones RFID</a></li>
					<li><a href="/servicios/video-vigilancia/">Videovigilancia</a></li>	
					<li><a href="/servicios/control-de-asistencia/">Control de Acceso</a></li>
					<li><a href="/servicios/desarrollo-de-software-a-medida/">Desarrollo de Software a Medida</a></li>
					<li><a href="/servicios/diseno-grafico-y-desarrollo-de-sitios-web/">Diseño y Desarrollo de sitios web</a></li>
				</ul>
			</section>
			<section>
				<h3>Nuestro Blog</h3>
				<ul>
					<li>En Construcción. <a href=""></a></li>
					
				</ul>
			</section>
			<section>
				<h3>Contacto</h3>
				<p>contacto@ditisoluciones.com <br />(55) 50 11 38 47</p>
				<p>Adolfo Prieto 1439, Despacho 801
				Col. Del Valle, Del. Benito Juárez,
				México DF.</p>
			</section>
			<section id="socials">
				<h3>Síguenos</h3>
				<ul>
					<li><a href="" id="twiticon">Twitter</a></li>
					<li><a href="https://www.facebook.com/DitiSoluciones" id="faceicon">Facebook</a></li>
				</ul>
			</section>
		</footer>
		<p>&copy; 2012 - Revolución IP S.A.</p>
	</div>
</body>
	<script type="text/javascript" src="/media/js/slider.js"></script>
</html>
